# All about list

In [2]:
print(type([]))

<class 'list'>

In [13]:
a=["maths","hindi","1.11","46","E264",11,25,64,56.44,564.45]
print(a)
print(type (a))
len(a)

['maths', 'hindi', '1.11', '46', 'E264', 11, 25, 64, 56.44, 564.45]
<class 'list'>

10

# Append (to add elements in lists)

In [14]:
a.append("Jai ho")
print(a)

['maths', 'hindi', '1.11', '46', 'E264', 11, 25, 64, 56.44, 564.45, 'Jai ho']

In [18]:
#indexing
#print list element
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])
print(a[8])
print(a[9])
print(a[10])

maths
hindi
1.11
46
E264
11
25
64
56.44
564.45
Jai ho

In [19]:
#print in reverse direction of list element
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])
print(a[-7])
print(a[-8])
print(a[-9])
print(a[-10])

Jai ho
564.45
56.44
64
25
11
E264
46
1.11
hindi

In [25]:
print(a[2:4]) #print 2nd value till 3rd

['1.11', '46']

In [26]:
print(a[:6]) #printed till 5ht value

['maths', 'hindi', '1.11', '46', 'E264', 11]

In [27]:
print(a[2:6]) #6th value will not get printed

['1.11', '46', 'E264', 11]

nested list

In [28]:
#addind list insiade alist
a.append(["yash","sir"])
print(a)

['maths', 'hindi', '1.11', '46', 'E264', 11, 25, 64, 56.44, 564.45, 'Jai ho', ['yash', 'sir']]

inserting element on a fix position

In [30]:
# list_name.insert(position, element)

a.insert(2,"My_jio")
print(a)

['maths', 'hindi', 'My_jio', '1.11', '46', 'E264', 11, 25, 64, 56.44, 564.45, 'Jai ho', ['yash', 'sir']]

Extend method (to add multiple elements in a list)

In [31]:
b=["yash","1","2"]
b

['yash', '1', '2']

In [32]:
b.extend(["sharma","3","4"])
b

['yash', '1', '2', 'sharma', '3', '4']

some operations on list

In [33]:
lis=["1","2","3","4","5"]
lis

['1', '2', '3', '4', '5']

In [36]:
sum(lis)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
nd=[1,2,3,4,5] #number wihout " " , comcidered as int
nd             #element with " " , concidered as string

[1, 2, 3, 4, 5]

In [41]:
sum(nd)

15

In [42]:
## pop() to remove a element from list
# pop() if it's blank then it will remove last element
# pop(2) it will remove 2nd element from list

In [44]:
nd.pop(4)

5

In [45]:
print(nd)

[1, 2, 3, 4]

In [48]:
# count it will return repeded values count
my=["yash",1,5,6,7,2,4,56,45,56,142,5,5,5,5,5,5,"yash"]
my.count(5)

7

In [50]:
my.count("yash")

2

In [51]:
my.count(56)

2

In [55]:
#index(value,from,to)  find value from this to that

my.index(142)

10

In [57]:
my1=[36,56,4,54,6,4,2,878]
min(my1) ### #for minimum value in the list

2

In [58]:
max(my1) #for maximum value in the list

878

In [59]:
#multiplicaion if list consist integers or can say appends on the basis of numbers
my1*2

[36, 56, 4, 54, 6, 4, 2, 878, 36, 56, 4, 54, 6, 4, 2, 878]